In [ ]:
num1=3 ;num2=4 ; num3=5 ;

print(num1+num2)
print(num3-num1)
print(num1*num2+num3)
print(num1*(num2+num3))
print(num3/num1)
print(num3//num1)
print(num3%num1)

7
2
17
27
1.6666666666666667
1
2

In [ ]:
x=1; y=2; z=3; g=4;
print(x+y*z/g)
print(y**z)

2.5
8

In [7]:
str_a = "Python"
str_b = "is a"
str_c = "times fun language"
num = 1000
result_ab = str_a +" " + str_b + " "+ str(num) + " "+ str_c
print(result_ab)
str_a10 = str_a * 10
print (str_a10)

Python is a 1000 times fun language
PythonPythonPythonPythonPythonPythonPythonPythonPythonPython

In [11]:
import math

num_1 =-5 ; num_2 = 3.2 ; num_3= 5.7; num_4 = 625 ;
print (abs(num_1))
print (round(num_2, 2))
print (round(num_3, 2))
print (math.sqrt(num_4))

5
3.2
5.7
25.0

In [12]:
num1 = float (input(" Enter your First number :") )
num2 = float  ( input(" Enter your Second number : "))
result = num1 + num2
print (result)

 Enter your First number :3
 Enter your Second number : 5
8.0

In [14]:
# controlflow. sheet ans

In [16]:
num = int (input (" Enter your number :" ))
if num % 2 == 0:
  print("even")
else :
  print ("odd")

 Enter your number :4
even

In [22]:
score = int ( input ( " Enter your score(0-100): "))
if score >= 50 :
  print("Pass")
else :
  print("Fail")

 Enter your score(0-100): 50
Pass

In [24]:
a = float ( input(" Enter the First number :"))
b= float (input("Enter the second number :"))
c= float (input ( " Enter the third number: "))
largest= max (a,b,c)
print ("largest number is:", largest)

 Enter the First number :9
Enter the second number :2
 Enter the third number: 10
largest number is: 10.0

In [27]:
for i in range (1, 11) :
      print (i)

1
2
3
4
5
6
7
8
9
10

In [39]:
num = int (input ("Enter you number:" ))
for i in range ( 1 , 11):
  print ("f{num} x {i} ={num*i}")

Enter you number:30
f{num} x {i} ={num*i}
f{num} x {i} ={num*i}
f{num} x {i} ={num*i}
f{num} x {i} ={num*i}
f{num} x {i} ={num*i}
f{num} x {i} ={num*i}
f{num} x {i} ={num*i}
f{num} x {i} ={num*i}
f{num} x {i} ={num*i}
f{num} x {i} ={num*i}

# New Section

In [29]:
sumation = 0
for i in range ( 2, 51, 2):
      sumation += i
      print(" sum of even numbers from 1 to 50 is:",  sumation )

 sum of even numbers from 1 to 50 is: 2
 sum of even numbers from 1 to 50 is: 6
 sum of even numbers from 1 to 50 is: 12
 sum of even numbers from 1 to 50 is: 20
 sum of even numbers from 1 to 50 is: 30
 sum of even numbers from 1 to 50 is: 42
 sum of even numbers from 1 to 50 is: 56
 sum of even numbers from 1 to 50 is: 72
 sum of even numbers from 1 to 50 is: 90
 sum of even numbers from 1 to 50 is: 110
 sum of even numbers from 1 to 50 is: 132
 sum of even numbers from 1 to 50 is: 156
 sum of even numbers from 1 to 50 is: 182
 sum of even numbers from 1 to 50 is: 210
 sum of even numbers from 1 to 50 is: 240
 sum of even numbers from 1 to 50 is: 272
 sum of even numbers from 1 to 50 is: 306
 sum of even numbers from 1 to 50 is: 342
 sum of even numbers from 1 to 50 is: 380
 sum of even numbers from 1 to 50 is: 420
 sum of even numbers from 1 to 50 is: 462
 sum of even numbers from 1 to 50 is: 506
 sum of even numbers from 1 to 50 is: 552
 sum of even numbers from 1 to 50 is: 600
 sum of even numbers from 1 to 50 is: 650

In [36]:
x = int (input ( " Enter you number:"))
factorial = 1
while x > 1:
  factorial *= x
  x -= 1
print ("Factorial is:" , factorial)

 Enter you number:4
Factorial is: 24

In [38]:
score = int(input("Enter your score(0-100):"))
if  90 <= score <= 100:
  print("Grade: A")
elif 80 <= score <= 89:
  print("Grade: B")
elif 70 <= score <= 79:
  print("Grade: C")
  elif 60 <= score >= 69:
    print("Grade : D")
    else
    print("Grade : F")

Enter your score(0-100):60
Grade : D